.popular-movies {
  margin: 5% 20%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

img {
  width: 80%;
  height: 30vh;
  object-fit: cover;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
}

h2 {
  color: #353b37;
  font-size: 0.9rem;
}

.filter-container {
  margin-bottom: 2rem;
  padding:10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #252b2d;
}


.filter-container button {
  margin-right: 1rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: #413751;
  color: #bbc6b2;
  border-radius: 12px;
  border: 2px solid #788485;
  font-weight: bold;
  cursor: pointer;
  float: right;
}

button.active {
  background:#bbc6b2;
  color: #413751;
}

.footer{
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  background-color: #353b37;
  color: #bbc6b2;
  text-align: center;
}

@font-face {
  font-family: "budmo" ;
  src: url('../public/assets/budmo\ jiggler.otf');
}

#logo {
  font-family: "budmo";
  font-size: 1.5rem;
  color:#bbc6b2 ;
  height: 0;
  margin-left: 1%;
}

/* @media screen and (min-width: 360px) {
  #logo {
    font-family: "budmo";
    font-size: 1rem;
    height: 0;
    margin: auto;
  }
}

@media screen and (min-width: 280px) {

  #logo {
    font-family: "budmo";
    font-size: 1rem;
    height: 0;
    margin: auto;
  }
} */