.popular-movies {
  margin: 5% 20%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

h2 {
  color: rgb(227, 146, 250);
  font-size: 0.9rem;
}

.filter-container {
  margin-bottom: 2rem;
  padding:10px
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(230, 86, 246);
}

li {
  float: right;
}

.filter-container button {
  margin-right: 1rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: rgb(227, 146, 250);
  color: rgb(91, 2, 99);
  border-radius: 12px;
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
}

button.active {
  background:rgb(91, 2, 99);
  color: rgb(227, 146, 250);
}

.footer{
  height: 2.5rem;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: rgb(91, 2, 99);
  color: rgb(227, 146, 250);
  text-align: center;
}
