body {
  margin: 0;
  font-family: "arciform";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #bbc6b2;
}


@font-face {
  font-family: "arciform" ;
  src: url('../public/assets/Arciform.otf');
}

code {
  font-family:"arciform";
}
